/* .loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
 */

.loader-top{
  display: flex;
  justify-self: center;
  align-items: center;
  margin:160px auto  !important;
  max-width: 960px  !important;
  border:5px solid red !important;

}